<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315874266800-kkfkvbjsbs5cirpa34om1qso1reteq0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315874266800-kkfkvbjsbs5cirpa34om1qso1reteq0e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315874266800-1157tuf9cooruune0mu0i2a1a3foo6ev.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEZYZC5ChhLaJjThB0zZ4zkP-yIfqQGHI</string>
	<key>GCM_SENDER_ID</key>
	<string>315874266800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.davefielding.stand</string>
	<key>PROJECT_ID</key>
	<string>stand-d0993</string>
	<key>STORAGE_BUCKET</key>
	<string>stand-d0993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315874266800:ios:bc46fa690b429978b3f575</string>
</dict>
</plist>